.modal {
    display: block !important;
    color: #000000;
}


.row-hover:hover {
    background-color: #e2e2e2;
}

body {
    background-color: #116275;
}

.table {
}

.container > .row > div {
    background: #e9ecef;
    padding: 20px;
    border-radius: .3rem;
}

button {
    color: #fff !important;
    background-color: #fe9d1d !important;
    border-radius: 0 !important;
    border: none !important;
}

.menu-item {
    cursor: pointer
}

a {
    color: #000000 !important;
    font-style: normal !important;
}

.inline-list-group {
    margin: 0;
}

.inline-list-group li{
    display: inline-block;
    margin: 0 20px 0 0;
}