body {
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 20px;
}

span[class^='MuiBadge-badge-'] {
    background-color: #09BBAD;
}

.job-item span {
    white-space: nowrap;
    overflow: hidden;
}

.centered-message {
    text-align: center;
    height: 100px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 100;
}