/*body {*/
    /*background-image: radial-gradient(circle, rgb(49, 144, 228) 0%, rgb(29, 84, 166) 100%);*/
/*}*/

body {
    background-color: #f0f0f0;
}

button:active, button:focus, a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

button.btn.btn-primary {
    background-color: #09bbad;
    border-color: #40d2b9;
}

button.btn.btn-primary:hover {
    background-color: #0cd3c2;
    border-color: #48ecd1;
}

h2 {
    margin-bottom: 20px;
}

span[class^='MuiBadge-badge-'] {
    background-color: #09BBAD;
}

.menu-link-selected > div {
    background-color: rgba(0, 0, 0, 0.08);
}

.job-item span {
    white-space: nowrap;
    overflow: hidden;
}

.centered-message {
    text-align: center;
    height: 100px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 100;
}